@model AntonellaCortes_EjercicioCF1.Models.Burger

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Burger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithCheese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithCheese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithTomatoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithTomatoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HideRevenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HideRevenue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
